//- index.pug
doctype html
html
  head
    title Aniket Dance Academy
    style
      include ../static/style.css
  body
    nav#navbar
        ul 
            div#logo 
                img(src="/static/img/fg.png")
                |HDA
            li #[a(href='/') Home] 
            li #[a(href='/') About] 
            li #[a(href='/') Service] 
            li #[a(href='#') Contact Us] 
            li #[a(href='/') Class Info] 
    section#introsection 
        div Welcome To Aniket Dance Academy 
        div.small Eat Sleep Dance Repeat 

    section#missionsection 
        h2 Our Mission 
        div.card 
            h3 Dance Perfection 
            div.card-box 
                div.card-img 
                    img(src="/static/img/s1.png")
                div.card-content 
                    p This is Best Dance Academy In The Universe
        div.card 
            h3 Dance The Way You Like 
            div.card-box 
                div.card-img 
                    img(src="/static/img/fg.png")
                div.card-content 
                    p This is Best Dance Academy In The Universe
        div.card 
            h3 Expert Teaching 
            div.card-box 
                div.card-img 
                    img(src="/static/img/gg.png")
                div.card-content 
                    p This is Best Dance Academy In The Universe

    section#sponsersection 
        h2 Our Sponsors 
        div#sponser 
            img(src="/static/img/hp.png", alt="Sponser Image",Class="spImage")  
            img(src="/static/img/ibm.png", alt="Sponser Image",Class="spImage")  
            img(src="/static/img/apple.png", alt="Sponser Image",Class="spImage")  
            img(src="/static/img/microsoft.png", alt="Sponser Image",Class="spImage")  
    footer#foooter 
        | Copyright 2021 AniketDanceAcademy.com       

    script
      include ../static/index.js
